<!--suppress ALL -->
<div class="container">
  <form [formGroup]="form">

    <fieldset>
      <div class="form-group">
        <label>First Name</label>
        <input type="text"
               class="form-control"
               name="firstName"
               formControlName="firstName">
        <div class="form-control-feedback"
             *ngIf="form.get('firstName').hasError('required')">
          <p>First name is required</p>
        </div>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input type="text"
               class="form-control"
               name="lastName"
               formControlName="lastName"
               >
        <div class="form-control-feedback"
             *ngIf="form.get('lastName').hasError('required')">
          <p>Last name is required</p>
        </div>
      </div>
    </fieldset>


    <div class="form-group">
      <label>Email</label>
      <input type="email"
             class="form-control"
             name="email"
             formControlName="email"
             pattern="[^ @]*@[^ @]*">
      <div class="form-control-feedback"
           *ngIf="form.get('email').hasError('required') || form.get('email').hasError('pattern')">
        <p *ngIf="form.get('email').hasError('required')">Email is required</p>
        <p *ngIf="form.get('email').hasError('pattern')">Email must contain at least the @ character</p>
      </div>
    </div>


    <div class="form-group">
      <label>Password</label>
      <input type="password"
             class="form-control"
             name="password"
             formControlName="password"
             minlength="8">
      <div class="form-control-feedback"
           *ngIf="form.get('password').hasError('required') || form.get('password').hasError('minlength')">
        <p *ngIf="form.get('password').hasError('required')">Password is required</p>
        <p *ngIf="form.get('password').hasError('minlength')">Password must be at least 8 characters long</p>
      </div>
    </div>

    <div class="form-group">
      <label>Language</label>
      <select class="form-control"
              name="language"
              formControlName="language">
        <option value="">Please select a language</option>
        <option *ngFor="let lang of langs"
                [value]="lang">{{lang}}
        </option>
      </select>
    </div>

    <button type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
    (click)="onSubmit()"
    >Submit
    </button>

    <pre>{{form.getRawValue() | json}}</pre>
  </form>
</div>
